html, body, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    background: #ffffff;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto Slab', serif;
    font-weight: normal;
}

a {
    color: #D81F2D;
}

.large-heading {
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: normal;
}

.content {
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 40em;
}

.mail-header {
    padding: 2em 1em;
    text-align: center;
}

.mail-header .brand {
    font-family: 'Roboto Slab', serif;
    color: inherit;
}

.mail-header .logo {
    width: 64px;
    height: 64px;
}

.mail-footer {
    background: #f8f8f8;
    padding: 2em 1em;
    text-align: center;
}

.mail-footer a {
    color: inherit;
}
